{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <base href="">
    <meta charset="utf-8" />
    <title>Zipeet</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->

    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="{% static '' %}assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles -->

    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="{% static '' %}assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!-- begin:: Calendar CSS -->
    <link href="{% static '' %}assets/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!--begin::Layout Skins(used by all pages) -->
    <link href="{% static '' %}assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="{% static '' %}assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <!-- Wizard CSS -->
    <link href="{% static '' %}assets/css/pages/wizard/wizard-2.css" rel="stylesheet" type="text/css" />
    <!--begin::Page Vendors Styles(used by table page) -->
    <link href="{% static '' %}assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="{% static ''%}img/Zeepit Final-06.png" alt="logo" class="img-fluid" " />
    <style type="text/css ">
        button#kt_header_mobile_toggler {
            display: none;
        }
    </style>
</head>

</html>

{% include 'superadmin/header.html' %} {% block body %} {% endblock %} {% include 'superadmin/footer.html' %}